parameters:
    level: 9
    paths:
        - .
    excludePaths:
        - vendor/*

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon

services:
	-
		class: Violet\TypeKit\PhpStan\TypeIsExtension
		tags:
			- phpstan.typeSpecifier.staticMethodTypeSpecifyingExtension
	-
		class: Violet\TypeKit\PhpStan\TypeAssertExtension
		tags:
			- phpstan.typeSpecifier.staticMethodTypeSpecifyingExtension
